parameters:
    ignoreErrors:
        - identifier: property.notFound
          path: tests/Unit/Css/*.php
        - identifier: property.nonObject
          path: tests/Unit/Css/*.php
        - identifier: method.nonObject
          path: tests/Unit/Css/*.php
        - identifier: offsetAccess.notFound
          path: tests/Unit/Pdf/PdfWriterTest.php
