parameters:
    ignoreErrors:
        - identifier: property.notFound
          path: tests/Unit/Css/*.php
        - identifier: property.nonObject
          path: tests/Unit/Css/*.php
        - identifier: method.nonObject
          path: tests/Unit/Css/*.php
        - identifier: offsetAccess.notFound
          path: tests/Unit/Pdf/PdfWriterTest.php
        - identifier: property.notFound
          path: tests/Unit/Text/TtfFontTest.php
        - identifier: method.nonObject
          path: tests/Unit/Text/TtfFontTest.php
        - identifier: argument.type
          path: tests/Unit/Text/TtfFontTest.php
        - identifier: missingType.iterableValue
          path: tests/Unit/Style/*.php
        - identifier: method.nonObject
          path: tests/Unit/Style/*.php
        - identifier: property.nonObject
          path: tests/Unit/Style/*.php
        - identifier: property.nonObject
          path: tests/Unit/Layout/BlockFlowContextTest.php
        - identifier: argument.type
          path: tests/Unit/Layout/BlockFlowContextTest.php
        - identifier: binaryOp.invalid
          path: tests/Unit/Layout/BlockFlowContextTest.php
        - identifier: missingType.iterableValue
          path: tests/Unit/Layout/BlockFlowContextTest.php
        - identifier: property.notFound
          path: tests/Unit/Layout/TextMeasurerTest.php
        - identifier: method.nonObject
          path: tests/Unit/Layout/TextMeasurerTest.php
        - identifier: argument.type
          path: tests/Unit/Layout/TextMeasurerTest.php
        - identifier: binaryOp.invalid
          path: tests/Unit/Layout/TextMeasurerTest.php
